@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-family: 'Poppins', sans-serif;
}


.aiko-hero{
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  position: relative;
}

.aiko-hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 100vw;
  position: relative;
  transition: all 450ms ease-in-out;
  left: 0
}

.aiko-hero__hero-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px) brightness(90%);
}

.aiko-hero__info{
  position: relative;
  padding: 10px 15px;
}

.aiko-hero__info .aiko-hero-info__title{
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.aiko-hero__info .aiko-hero-info__subtitle{
  text-align: center;
  font-size: 1.2rem;
}

.aiko-hero__info .aiko-hero-info__buttonAction{
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  display: block;
margin: 15px auto;
border: none;
  cursor: pointer;
color: white;
margin-top: 15px;
padding: 10px 15px;
background: #2E2E2E;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}

.aiko-hero__buttonControls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  transition: all 250ms ease-in-out;
  z-index: 99;
}

.aiko-hero__buttonControls:hover {
  background-color: #ffffff44;
}

.aiko-hero__buttonControls:nth-child(1){
  left: 15px;
  bottom: calc(50% - 30px);
  padding-left: 15px;

}

.aiko-hero__buttonControls:nth-child(2){
  right: 15px;
  bottom: calc(50% - 30px);

}

.aiko-hero__buttonAction{
  box-sizing: border-box;

position: absolute;
width: 138px;
height: 44px;

background: #2E2E2E;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}


.aiko-hero__button-viewer {
  border-style: solid;
  width: 2.3vh;
  height: 2.3vh;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border-color: black;
  opacity: 0.8;
}

.aiko-hero__button-this{
  background-color:  black;
  border-color: white;
}

.aiko-hero__button-flex {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  margin:auto;
  max-width: 50%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  column-gap: 2vh;
  z-index: 9;
}
